[submodule "payroll-tracking"]
	path = src/payroll-tracking
	url = https://github.com/WefhLNUE/src/payroll-tracking
[submodule "leaves"]
	path = src/leaves
	url = https://github.com/WefhLNUE/src/leaves
[submodule "employee-profile"]
	path = src/employee-profile
	url = https://github.com/WefhLNUE/src/employee-profile
[submodule "time-management"]
	path = src/time-management
	url = https://github.com/WefhLNUE/src/time-management
[submodule "recruitment"]
	path = src/recruitment
	url = https://github.com/WefhLNUE/src/recruitment
[submodule "payroll-configuration"]
	path = src/payroll-configuration
	url = https://github.com/WefhLNUE/src/payroll-configuration.git
[submodule "payroll-execution"]
	path = src/payroll-execution
	url = https://github.com/WefhLNUE/src/payroll-execution
